{% extends 'base.html' %}

{% load static from staticfiles %}


{% block content %}
<h1>{{ game }}</h1>
<h2>Enter data</h2>
<a href="{% url 'leaderboard' game_id=game.id %}">Leaderboard</a>
<table>
    <tr>
        <th>Player</th>
        {% for round in rounds %}
        <th>Round {{ round }}</th>
        {% endfor %}
    </tr>
    {% for score in scores %}
    <tr>
        <td>{{ score.player }}</td>
        {% for round_score in score.round_scores %}
        <td><input type="number" data-score="{{ score.pk }}" data-round="{{ forloop.counter }}" value="{{ round_score.score }}" /></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'entry.js' %}"></script>
{% endblock %}
